<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sushi House</title>
	<link rel="shortcut icon" type="text/css" href="../img/logo.jpg">
	<link rel="stylesheet" href="../css/menu.css">
</head>
<body>
	<div class="contenedor">
	<nav id="nav">
		<a href="index.html">
		<img src="../img/logo.jpg" alt="logo de Sushi House">
		</a>

		<ul>

			<li><a href="../index.html">Inicio</a></li>

			<li><a href="">Nosotros</a></li>

			<li><a href="../views/menu.html">menu</a></li>

			<li><a href="">Contacto</a></li>

		</ul>

	</nav>
	<header>
		

	</header>
	<main id="menu">
		
		<h1>MENU</h1>

	</main>
	<footer id="footer">
		<a href="https://www.instagram.com/sushihousenecochea/" target="_blank">
			<img src="../img/fotosfooter/logoinsta.png" alt="logo de instragram">
		</a>
		<a href="https://www.facebook.com/sushihousenecochea" target="_blank">
			<img src="../img/fotosfooter/logoface.png" alt="logo de facebook">
		</a>
	</footer>
	</div>

</body>
</html>